body{
  background-color: grey;
}

pre.highlight {
  overflow: auto !important;
  border: solid 1px #000;
  background: #B1EFE6;
  color: #000;
  max-height: 340px;
}
pre code {
  overflow: auto !important;
  white-space: pre !important;
}

.post {
  margin: 10px 5px 10px 5px;
  padding-bottom: 10px;
  border: solid 1px #000;
}

.flex-center {
  display: flex;
  justify-content: center;
}
