nav {
  border-bottom: 35px solid $base-border-color;
  margin: 10px 0px 0px 0px;
  text-align: center;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }
}

.blog-title {
  font-family: $base-font-title;
  font-size: 2.4em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase;
}
