@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navbar-brand>img {
  padding: 7px 5px;
}

#user {
  height: 55px;
  width: 55px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
.social {
  width: 25px;
  height: 25px;
}
