<% wrap_layout :layout do %>
  <article>
    <div id="article" role="main">
        <h1 class="heading">
          <%= current_article.title %><br>
          <h5><time><%= current_article.date.strftime('%b %e %Y') %></time><h5>
        </h1>
      <%= yield %>
      <%= disqus %>
    </div>
  </article>
<% end %>
