<br/>
<ul>
  <% data.authors.each do |author| %>
  <li style="list-style-type:none;">
    <a href="#">
      <img src="<%= author.photo %>" id="user" width='50px;' height='50px;'alt="Luis Silva" />   E. Silva Mtz.
    </a>
    <a href="<%=author.twitter %>" style="margin-left:400px;">
      <img src="/images/author/twitter.png" class='social' alt=" " />
    </a>
    <a href="<%=author.github %>" style="margin-left:10px;">
      <img src="/images/author/github.png" class='social' alt=" " />
    </a>
    <a href="<%=author.facebook %>" style="margin-left:10px;">
      <img src="/images/author/facebook.png" class='social' alt=" " />
    </a>
  </li>
<% end %>
</ul>
