<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="img-circle" src="<%= data.authors.first.photo %>" id="user" alt="Luis Silva"/>
        I'm a programmer \(¬_¬)/
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%=data.authors.first.twitter %>">
            <img src="/images/author/twitter.png" class='social' alt=" " />
            Sigueme ...
          </a>
        </li>
        <li>
          <a href="<%=data.authors.first.github %>">
            <img src="/images/author/github.png" class='social' alt=" " />
            Sigueme ...
          </a>
        </li>
        <li>
          <a href="<%=data.authors.first.facebook %>">
            <img src="/images/author/facebook.png" class='social' alt=" " />
            Sigueme ...
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
