// Typography
$base-font-family: 'Open Sans', $helvetica;
$base-font-title: 'Pauta One', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$base-font-size-header: 2em;
$base-font-size-sub-header: 1.5em;
$base-font-size-sub-sub-header: 1.3em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$background-color:#4B8A08;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$font-color-h1: #013ADF;
$font-color-h2: #013ADF;
$font-color-h3: #0080FF;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
